*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-sans',sans-serif;
}
body{
    height: 100vh;
    
}

li{
    list-style: none;
}

a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}


/* header section */
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
width: 100%;
height: 60px;
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}